@font-face {
  font-family: 'icomoon';
  src:    url('../css/fonts/icomoon.eot');
  src:    url('../css/fonts/icomoon.eot') format('embedded-opentype'),
      url('../css/fonts/icomoon.ttf') format('truetype'),
      url('../css/fonts/icomoon.woff') format('woff'),
      url('../css/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1
  /* Better Fot Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star::after {
  color: #F5AB35;
  font-size: 1.5em;
  content: "\e600";
}
