@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url('../css/fonts/Merriweather-Regular.ttf') format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../css/fonts/Merriweather-Bold.ttf') format('woff2');
}
@font-face {
  font-family: 'icomoon';
  src:    url('../css/fonts/icomoon.eot?z7lp91');
  src:    url('../css/fonts/icomoon.eot?z7lp91#iefix') format('embedded-opentype'),
      url('../css/fonts/icomoon.ttf?z7lp91') format('truetype'),
      url('../css/fonts/icomoon.woff?z7lp91') format('woff'),
      url('../css/fonts/icomoon.svg?z7lp91#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fav::after {
  color: #F5AB35;
  font-size: 1.5em;
  content: "\e901";
  animation: 2s ease 0s star-fade-in;
  -webkit-animation: 2s ease 0s star-fade-in;
}
.icon-add:before {
  /*font-size: 1.5em;*/
  content: "\e900";
}

@keyframes star-fade-in {
  from {
    color: rgba(0,0,0,0);
  }
  to {
    color: #F5AB35;
  }
}
@-webkit-keyframes star-fade-in {
  from {
    color: rgba(0,0,0,0);
  }
  to {
    color: #F5AB35;
  }
}
