html{
  background: url(../img/b2.jpg) red;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

body {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.content {
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;

  -moz-column-count: 3;
  -moz-column-gap: 16px;

  width: 100%;
}

.quote {
  background: rgba(0,153,255,0.7);
  display: inline-block;
  width: 90%;
  margin-top: 16px;
  padding: 16px;
}

.text {
  font-weight: bold;
}

.author {
  font-weight: bold;
  margin: 8px;
  display: block;
  text-align: right;
}

.author::before {
  content: '—';
}

@media only screen and (max-width: 640px) {
  .content {
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
  }
}

@media only screen and (min-width: 641px) {
  .content {
    -webkit-column-count: 2;
    -webkit-column-gap: 16px;
    -moz-column-count: 2;
    -moz-column-gap: 16px;
  }
}

@media only screen and (min-width: 1279px) {
  .content {
    -webkit-column-count: 3;
    -webkit-column-gap: 16px;
    -moz-column-count: 3;
    -moz-column-gap: 16px;
  }
}

@media only screen and (min-width: 1919px) {
  .content {
    -webkit-column-count: 4;
    -webkit-column-gap: 16px;
    -moz-column-count: 4;
    -moz-column-gap: 16px;
  }
}
