html{
  background-image: url(../img/b1.jpg);
  background-size: 100vw 100vh;
}

body {
  background: rgba(34,34,34,0.2);
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#container {
  margin: 0 auto;
}

.quote {
  margin: 16px 16px 0px 16px;
  padding: 16px;
  width: 300px;
  min-width: 250px;
  /*display: none;*/
}

.text {
  font-weight: bold;
}

.author {
  font-weight: bold;
  margin: 8px;
  display: block;
  text-align: right;
}

.author::before {
  content: '—';
}

.kblue {
  background: rgba(1,177,174,0.7);
}

.kpink {
  background: rgba(255,112,112,0.7);
}
.kpurple {
  background: rgba(31,42,68,0.7);
}

.okblue {
  background: rgba(64,149,191,0.7);
}
